body {
    background-color: rgb(22, 22, 22);
    font-family: 'Courier New', monospace;
}

canvas {
    background-color: white;
    z-index: -500;
    border: 2px solid gray;
}

#roomsAmount,
#roomJoints,
#btn,
#mapW,
#mapH,
#cellSize {
    z-index: 1000;
    position: sticky;
}

input {
    background-color: #111;
    color: white;
}

#btn {
    width: auto;
    margin-right: 10px;
}

#btn2 {
    width: auto;
}

span,
label {
    color: white;
    user-select: none;
}

footer {
    color: darkgray;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px;
    font-weight: bold;
}

/* Cool button I've found online and slightly modified (credits: Kocsten) */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: 'Courier New', monospace;
    font-size: 18px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ad2f45, #ff8933, #ffee83, #63ab3f, #92e8c0, #4c6885, #692464, #ff5277, #ad2f45);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    background: #222;
}

.glow-on-hover:active:after {
    background: #222;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}