body {
  overflow: hidden;
  background-color: black;
  user-select: none;
}

#fps {
  opacity:0.7;
  position: absolute;
  left: 5px;
  top: 5px;
  color:white;
  background-color: black;
  font-family: Consolas, monaco, monospace; 
  font-size: 16px;
  z-index: 100;
}
#debug-ToolTip{
  position:absolute;
  left:0;
  top:0;
  background-color: black;
  color:white;
  opacity:0.7;
  font-family: Consolas, monaco, monospace; 
  font-size: 12px;
  padding:2px;
}