body {
  background-color: black;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  position: absolute;
}
.main-container {
  display: flex;
}
.coins-container {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
canvas {
  border: 1px solid white;
}
.canvas-foreground {
  background-image: url("./vendingMachine/shine.png");
  background-size: cover;
  position: absolute;
  inset: 0;
}
.ui-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.display {
  width: 300px;
  font: monospace;
  text-align: center;
  font-size: 24px;
  background-color: black;
  color: green;
  border: 1px solid white;
  height: 32px;
}
.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: stretch;
  align-items: stretch;
}
.inputs > button {
  min-height: 64px;
  cursor: pointer;
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
}
.output-canvas {
  flex-grow: 1;
}
