body {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #222034;
}

* {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#file,#file2d,#fileQ {
    width: 1px;
    height: 1px;
    opacity: 0;
}

#exportBox {
    display: block;
    position: absolute;
    z-index: 2000;
    width: 60vw;
    height: 60vh;
    margin: auto;
    user-select: auto;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding:20px;
}
#exportText {
    overflow: scroll;
    user-select:text;
}
#closeBtn{
    position: absolute;
    top:2px;
    right:2px;
}
#downloadBtn{
    position: absolute;
    top:2px;
    right:52px;
}
#import,
#import2d,
#exportMap,
#importQ,
#exportMapQ,
#export2d {
    cursor: pointer;
    padding: 0 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px double black;
    border-radius: 3px;
    background-color:burlywood;
}
#import2d,
#export2d{
    background-color:aquamarine;
}
#zoomer {
    height: 20px;
    width: 50px;
    display: none;
}

#canvas {
    cursor: crosshair;
    margin: 100px 50px;
}

#mapSizeW,
#mapSizeH {
    max-width: 50px;
}

#info {
    pointer-events: none;
    display: none;
    height: 22px;
    width: 50px;
    position: fixed;
    z-index: 100;
    background-color: white;
    border: 2px solid black;
    opacity: 0.8;
    font-size: 10px;
}
#interactive {
    background-color: white;
}

#cont2 > canvas {
    border: 1px solid;
}

.selected {
    border-color: skyblue !important;
    border-width: 2px !important;
}

.tile {
    background-color: #222034;
    margin-right: 5px
}

#cont,
#cont2,
#cont3 {
    background-color: #45283c;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    font-size: 20px;
    border: 2px solid black;
    padding: 3px;
}

#cont2 {
    top: auto;
    bottom: 0;
}

#cont3 {
    position: absolute;
    left: 0;
    right: auto;
    top:100px;
    max-width: 40px;
    text-align: center;
}

#cont button,
cont2 button,
cont3 button{
    cursor: pointer;
}

