body {
    margin: 0;
    padding: 0;
    text-align: center;
    touch-action: none;
    user-select: none;
    background-color: #45283c;
    color: white;
    font-size: 12px;
}

#canvas {
    display: inline-block;
    margin-top: 5px;
}

#ctrlCanvas {
    display: inline-block;
    margin-top: 5px;
}

#arrowCont {
    position: absolute;
    width: 100%;
    height: 12vh;
    bottom: 10vh;
}

.arrows {
    height: 100%;
}

#right {
    float: left;
    opacity: 0.5;
    margin-left: 10%;
    background-color: transparent;
    border-radius: 50%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#up {
    float: right;
    opacity: 0.5;
    margin-right: 5%;
    background-color: transparent;
    border-radius: 50%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#down {
    float: right;
    opacity: 0.5;
    margin-right: 10%;
    background-color: transparent;
    border-radius: 50%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#left {
    float: left;
    opacity: 0.5;
    margin-left: 5%;
    background-color: transparent;
    border-radius: 50%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
