.title {
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
    background-image:linear-gradient(to right,#00000000,#16171a,#00000000);
    padding:10px;
  }
  
  .title span {
    letter-spacing: 3px;
  }
  
  .game-wrapper {
    display: inline-block;
  }
  
  .outer-container {
    display: inline-block;
  }
  
  .game-frame {
    border-color: #16171a;
    border-width: 5px;
  
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: double;
    border-bottom-width: 8px;
  
    padding: 0;
    margin: 0;
  }
  
  .saantonandre {
    width: 141px;
    height: 18px;
    position: relative;
    bottom: 20px;
  }
  
  .play-button {
    border: 2px solid #007899;
    display: inline-block;
    margin: auto;
    min-width: 40%;
    padding: 10px;
    font-family: Kongtext;
    font-size: 18px;
    color: #fafdff;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .play-not-allowed {
    border: 2px solid #d62411;
    display: inline-block;
    margin: auto;
    min-width: 40%;
    padding: 10px;
    font-family: Kongtext;
    font-size: 16px;
    color: #fafdff;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
  }
  