
.small-title {
  font-size: 18px;
  text-align: left;
}

.expandable {
  position: relative;
  cursor: pointer;
  margin: 20px 0;
}

.expandable:focus {
  cursor: auto;
}

.expandable:focus h1 {
  cursor: auto;
  color: #bec2cf;
}

.expandable::before {
  content: url("expand-icon.gif");
  position: absolute;
  right: 0;
}

.expandable:focus::before {
  content: url("collapse-icon.png");
  position: absolute;
  right: 0;
}

.expandable p {
  display: none;
}

.expandable:focus p {
  display: inline;
}



hr {
  height: 1px;
  background-color: #393d4e;
  border: none;
}

h1 {
  font-family: 'Kongtext';
  font-size: 15px;
  color: #fafdff;
}

p {
  font-family: Arial,
    sans-serif;
  color: #bec2cf;
}
#ig-link{
  background-image: url("/index/instagram.png");
  width : 240px;
  height : 122px;
}
#ig-link:hover {
  background-image: url("/index/instagram2.png");
}
#twitter {
  width: 100%;
  max-width: 600px;
  max-height: 600px;
  display: inline-block;
  margin-top: 30px;
}

#social {
  text-align: center;
}

#instagram-link {
  image-rendering: auto;
}

#yt-frame {
  max-width: 100%;
}

img,
#title,
a,
#read-more {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* Smooth scrolling */

/* Importing pixel font */
@font-face {
  font-family: 'Kongtext';
  src: url('Kongtext/KongtextRegular.woff') format('woff'),
    url('Kongtext/KongtextRegular.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  top: 0;
  font-smooth: never;
  -webkit-font-smoothing: none;
  overflow-x: hidden;
  background: #234975;
  text-align: center;
  font-family: "Kongtext";
  color: #bec2cf;

  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #1e2534;
}

/* To avoid margin collapsing */
.separator {
  width: 100%;
  height: 1px;
}

#top-bar {
  padding: 15px;
  width: 100%;
  height: auto;
  background-color: #16171a;
  color: #fafdff;
  position: fixed;
  box-sizing: border-box;
  text-align: left;
  z-index: 1000;
}

/* TOP SECTION */

#title {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  font-size: 16px;
  position: relative;
  z-index: 1000;
}

#logo {
  display: inline-block;
  width: 450px;
  height: 40px;
}

#title,
#logo {
  transition: height 0.5s, width 0.5s, font-size 0.5s;
}

.button {
  float: left;
  box-sizing: border-box;
  padding: 5px;
}


.button img {
  height: 48px;
  width: 48px;
}

#content-preload {
  display: none;
}

/* MIDDLE SECTION */
main {
  padding: 0;
  margin: 0;
}

#folder {
  width: 100%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 60px;
  padding: 3vw;
  text-align: left;
  box-sizing: border-box;
}

.title-icons {
  width: 144px;
  height: 72px;
}


.folder-icons {
  margin: 0;
  height: 64px;
  width: 128px;
  margin-bottom: -3px;
  margin-right: -16px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 0;
}


#folder-content {
  width: 100%;
  height: 100%;
  min-height: 40vh;
  max-height: 50vh;
  overflow: hidden;
  background-color: #007899;
  color: #fafdff;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  background-color: #171e28;
  z-index: 100;
  position: relative;
}

#read-more {
  background-color: red;
  display: block;
  position: static;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #16171a;
}


/* BOTTOM SECTION */

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#bottom-bar {
  font-size: 12px;
  text-align: right;
  color: #68aed4;
  width: 100%;
  background-color: #16171a;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 900;
}

@media only screen and (max-width: 680px) {
  #title img {
    width: 225px;
    height: 20px;
  }

  #bottom-bar {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 723px) {

  .button {
    display: none;
  }
}

@media only screen and (max-width: 503px) {
  .folder-icons {
    margin-right: -64px;
  }

  #folder {
    width: 99%;
  }
}

/*
document.getElementById("logo").style.width="112px";
document.getElementById("logo").style.height="10px";
document.getElementById("logo").style.padding="3px";
document.getElementById("title").style.fontSize="8px";
document.getElementById("title").style.padding="3px";
document.getElementById("top-bar").style.padding="3px";
*/
@media only screen and (max-width: 440px) {
  #logo {
    width: 112px;
    height: 10px;
    padding: 3px;
  }

  #title {
    font-size: 8px;
    padding: 19px;
  }

  #top-bar {
    padding: 3px;
  }
}

.animated {
  animation: feedback 0.5s;
}

@keyframes feedback {
  0% {
    transform: translate(0)
  }

  50% {
    transform: translate(0, -10%)
  }

  100% {
    transform: translate(0, 0)
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 5%)
  }

  50% {
    transform: translate(0, -10%)
  }

  100% {
    transform: translate(0, 5%)
  }
}

.centered {
  text-align: center;
  display: block;
}

.content {
  display: none;
  transition: height 0.5s;
}

/* GAME TAB */
#games {
  text-align: center;
}

/* default size w:315 h 250 */
.game-div {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #16171a;
  border: 5px solid #16171a;
  padding: 5px;
  font-family: Arial,
    sans-serif;
  position: relative;
  box-sizing: border-box;
}

.game-thumb {
  flex: 1 300px;
  text-align: center;
  position: relative;
}

.game-thumb img {
  width: 100%;
  max-width: 630px;
  max-height: 100%;
  box-sizing: border-box;
}

.game-thumb-overlap {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
}

.game-expandable:after {
  content: url("glass.png");
  position: absolute;
  bottom: 54px;
  right: 12px;
  animation: floating 1s infinite;
}

.game-sections {
  flex: 2 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.game-title {
  text-align: left;
  font-family: Kongtext;
  font-weight: 200;
  font-size: 16px;
  color: #fafdff;
  padding: 2px;
  margin: 5px;
  box-sizing: border-box;
}

.game-div:hover {
  background-color: #0a0d14;
}

.game-div:hover .game-preview-title {
  background-color: #0a0d14;
}

.game-description {
  padding: 10px;
  font-weight: 400;
  text-align: left;
  color: #bec2cf;
}

.game-buttons {
  text-align: center;
  padding: 5px;
  font-family: 'Kongtext';
  font-size: 15px;
  color: #fafdff;
}

.game-buttons img {
  width: 32px;
  height: 32px;
  margin: 5px;
}


.game-preview-title {
  text-align: center;
  display: block;
  position: absolute;
  margin: 0;
  bottom: 0;
  font-family: Kongtext;
  font-weight: 200;
  font-size: 14px;
  background-color: #16171a;
  padding: 10px;
  box-sizing: border-box;
}


.hidden {
  display: none;
}

/* LINKS */
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #bec2cf;
}

a:visited {
  color: #68aed4;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #68aed4;
  text-decoration: none;
}




/* Disables Anti-Aliasing */
img {
  image-rendering: optimizeSpeed;
  /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;
  /* Firefox                        */
  image-rendering: -o-crisp-edges;
  /* Opera                          */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and eventually Safari) */
  image-rendering: pixelated;
  /* Chrome */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+   */
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafdff;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #16171a;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #16171a;
}