body{
    background-color: black;
    margin:0;
    padding:0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#fps{
    position: absolute;
    color: #743f39;
    left:0;
    top:0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#pos{
    position: absolute;
    left:0;
    top:20;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#canvas{
    left:10;
    top:10;
    cursor:none;
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}