body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15px;
    background-color: #EF6F6C;
    color: #261C15;
    overflow-x: hidden;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    color: #E1C35B;
    background-color: #261C15;
}

textarea {
    background-color: #EFF1ED;
    border: none;
}

.cont {
    font-family: 'Varela Round', sans-serif;
    display: inline-block;
    width: 80vw;
    border-radius: 30px;
    background-color: #DDAE7E;
    box-shadow: 3px 3px 3px;
    padding: 5px;
}

.page,
#new-page {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

#text2 {
    width: 80%;
}

#text3 {
    width: 80%;
}

button {
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer:
}

.text {
    text-align: center;
    border-radius: 5px;
    max-width: 90%;
}

#test,
#edit {
    background-color: #EFF1ED;
    border-radius: 5px;
    padding: 3px;
    transition: all 0.4s;
    font-size: 15px;
    color: #261C15;
}

#test:hover,
#edit:hover {
    border: 3px solid #261C15;
}

#export,
#export-2 {
    background-color: #261C15;
    color: #E1C35B;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px black;
}

#import,
#import-2,
#testStart {
    color: #261C15;
    background-color: #E1C35B;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px black;
}


.page {
    color: #E1C35B;
    background-color: #EF6F6C;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.page:hover {
    box-shadow: inset 0px 0px 0px 2px #E1C35B;
}

.selected {
    background-color: #E1C35B;
    color: #EF6F6C;
}

#new-page {
    background-color: #EF6F6C;
    color: #E1C35B;
    border: none;
    font-weight: 900;
    cursor: cell;
    border:
}

#output {
    display: inline-block;
    background-color: #EFF1ED;
    border: none;
    width: 80%;
}

.option, #next {
    display: inline-block;
    background-color: #EFF1ED;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

/*
    TOOLTIP TEXTS
*/

.tooltip {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: help;
    color: #EFF1ED;
    font-size: 20px;
}

.tooltip .tooltiptext {
    font-size: 11px;
    visibility: hidden;
    width: 100px;
    background-color: #261C15;
    color: #EFF1ED;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

#istances {
    min-height: 100px;
    min-width: 200px;
}
