
@media only screen and (max-width: 610px) {
  .folder-icon{
    height:2.5rem;
    margin-right:-1rem;
  }
  .header-logo{
   height: 1rem;
  }
  .inquiries{
    font-size:0.6rem;
  }
}
@media only screen and (min-width: 610px) {
  .folder-icon{
    height:4rem;
    margin-right:-0.2rem;
    
  }
  .header-logo{
   height: 2.5rem;
  }
  .inquiries{
    font-size:0.8rem;
  }
}


@font-face {
  font-family: "Kongtext";
  src: url("assets/fonts/Kongtext/KongtextRegular.woff") format("woff"),
    url("assets/fonts/Kongtext/kongtext.ttf") format("ttf"),
    url("assets/fonts/Kongtext/KongtextRegular.woff2") format("woff2");
}
.background{
  background-image: url("../public/images/mashupv2.gif");
  background-repeat: repeat;
  background-attachment: fixed;
}
.moving-bg{
  animation: moving-bg linear infinite 30s;
}
@keyframes moving-bg{
  0%{
    background-position:0px 0px;
  }
  100%{
    background-position:400px 400px;
  }
}
.px-font{
    font-family: "Kongtext";
}
palette{
    color:#7f0622;
    color:#d62411;
    color:#ff8426;
    color:#ffd100;
    color:#bfff3c;
    color:#10d275;
  
    color:#007899;
    color:#68aed4;
    color:#234975;
    color:#002859;
  
    color:#ff80a4;
    color:#ff2674;
    color:#94216a;
    color:#430067;
  
    color:#fafdff;
    color:#bec2cf;
    color:#393d4e;
    color:#282e3f;
    color:#1e2534;
    color:#171e28;
  
    color:#111923;
    
    color:#16171a;
    color:#0a0d14;
    color:#000000;
  
  }
/* Bootstrap Font */
$font-size-base:0.8rem;

/* Bootstrap positions */
$position-values: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

/* Bootstrap Colors */
$black:#16171a;
$fadeblack: #16171abb;
$blackblue:#171e28;
$spaceblue: #1E2534;
$deepblue:#002859;
$darkblue:#234975;
$blue:#007899;
$lightblue:#68aed4;
$fadewhite: #ffffff55;

$theme-colors: (
  "black": $black,
  "fadeblack": $fadeblack,
  "blackblue": $blackblue,
  "spaceblue": $spaceblue,
  "deepblue": $deepblue,
  "darkblue": $darkblue,
  "blue": $blue,
  "lightblue": $lightblue,
  "fadewhite": $fadewhite,
);
@import "bootstrap";

/* Bootstrap Overwrites */
.transition{
  transition: all 0.1s;
}
a{
    color: $white;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        color: $lightblue;
    }
}
.flex-1{
  flex:1;
}
.fade-over{
  transition: all 0.2s;
  opacity:0;
  &:hover{
    opacity:1;
    background:$fadeblack;
  }
}
img {
  image-rendering: pixelated;
}
.floating {
  animation: floating 1s infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 5%)
  }

  50% {
    transform: translate(0, -10%)
  }

  100% {
    transform: translate(0, 5%)
  }
}