body {
    overscroll-behavior-y: contain;
}
.enemy {
    position:absolute;
    height:120px;
    width:30px;
    background-color:#af4d48;
    transition-timing-function: linear;
}
.wrapper {
    position:relative;
    z-index:1000;
    background-color:black;
    text-align:center;
    opacity:0.6;
}
#lose {
    font-family:impact;
    font-size:50px;
    color:white;
}